<br>
<div id="block">
	<img src="/images/Thalia.jpg" alt="Thalie"/>
	<h4>Thalie</h4>
</div>
<div class="slide_menu" id="slide-1">
    <span><strong>Last 5 members</strong></span>
    <div>
        <div class="members">
            <% @members.each do |member| %>
            <% id = "member_#{member.id}" %>
            <div class="member" id="<%= id %>">
                <%= link_to member.first_name.capitalize, member %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<% if session[:user]%>
<div class="slide_menu" id="slide-2">
    <span><%= link_to "<strong>My groups</strong>", member_groups_path(session[:user]) %></span>
    <div class="members">
            <% session[:user].group.each do |group| %>
            <% id = "group_#{group.id}" %>
            <div class="member" id="<%= id %>">
                <%= link_to group.name.capitalize, group %>
            </div>
            <% end %>
    </div>
</div>
<%end%>

<% if session[:user] && false%>
<div class="slide_menu" id="slide-2">
    <span><strong>My Projects</strong></span>
    <div class="members">
            <% session[:user].project.each do |project| %>
            <% id = "project_#{project.id}" %>
            <div class="member" id="<%= id %>">
                <%= link_to project.name.capitalize, project %>
            </div>
            <% end %>
    </div>
</div>
<% end %>
